/* colors used for webpage */
:root{
    --dark:#264653;
    --light:#2a9d8f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

header {
    padding: 30px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* nav bar attr */
header nav {
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

header h1{
    font-size: 40px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--light);
    text-decoration: none;
}
/* colors background for main section */
main{
    background-color: #e9c46a;
}

.intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 60px;
}
/* the larger layer of the intro section where the paragraph content is */
.intro p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 60%;
    font-size: 20px;
    line-height: 1.5;
    padding: 4rem 5rem;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 1.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
    flex: 2 1 400px;
    margin: 20px;
}    
/* creates the square backdrop to the intro section */
.intro p::before {
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }

.intro img{
    width: 400px;
    height: 400px;
    margin: 20px;
}
/* gives image the octagon border  look */
.octagon {
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    		clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

/* creates the box for the each project */
.box{
    margin:25px;
    width:250px;
    height:350px;
    background:#fff;
    border: solid black;
    border-color: black;
    float:left; 
  }
  
/* creates the border design for that box */
.box2{
    width:350px;
    border-width: 3px 3px 5px 5px;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
}

/* creates the label within the boxes for titles */
.evenboxinner{
    transform: rotate(2deg);
    margin:15px;
    padding:0 5px;
    float:right;
    background:#ddd;
    border:1px solid #222;
    box-shadow:3px 3px 0 #222;
  }

/* temporary image place holder */
img{
    width: 330px;
    height: 185px;
    margin-left: 7px;
}

/* puts project 1 in flex  */
.project1sec{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    flex-direction: row;
    justify-content: center;
}

/* makes project 1 have a bigger display */
.project1sec .box{
    width:750px;
    height:350px;

}

#project1{
    width: 90%;
    height: 80%;
    margin-left: 22px;
}

.restofprojects{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    flex-direction: row;
    justify-content: center;
}

footer{
    width: 100%;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:var(--dark);
    color:var(--light);
    margin: 0px;
    
}
footer ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
footer ul li{
    display: inline-flex;
}

/* attributes so page can adapt to different screen sizes */
@media screen and (max-width: 768px) {
    header nav{
        font-size: 20px;
    }
    .intro{
        flex-direction: column;
        padding-bottom: 60px;
        align-content: space-around;
        align-items: center;
    }
    .intro p{
        width: 90%;
    }
    .intro img{
        width: 250px;
        height: 250px;
    }
  }
  
@media screen and (max-width: 576px) {
    header{
        width: 100%;
    }
    header h1{
        font-size: 30px;
    }
    header nav {
        margin-right: 20px;
        font-size: 18px;
    }
  }

  