* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    padding: 30px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header nav {
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header h1{
    font-size: 40px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
main{
    margin: 10px;
}
.intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.intro h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 60%;
    font-size: 20px;

    padding: 4rem 8rem;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 2.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
}    
.intro h2::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }

.intro img{
    width: 300px;
    height: 300px;
}
img{
    width: 300px;
    height: 200px;
}

.project1sec{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    flex-direction: row;
    justify-content: center;
}
.restofprojects{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    flex-direction: row;
    justify-content: center;
}
footer{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    
}
footer ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
footer ul li{
    display: inline-flex;
}